/*

!.gitignore

!/app/
!/bin/
!/config/
!/public/
!/shell/
!/src/
!/tests/
!/var/
!.env.example
!composer.json
!composer.lock
!docker-compose.yml
!docker-compose-dev.yml
!README.md
!xdebug.disable.ini