[
  {
    "channel": "redis-pipeline-1",
    "filePath": "/home/lvinkim/ddisk/redis-pipeline/var/logstash/redis-pipeline-1.txt",
    "postfixFormat": "Y-m-d",
    "enable": true
  },
  {
    "channel": "redis-pipeline-2",
    "filePath": "/home/lvinkim/ddisk/redis-pipeline/var/logstash/redis-pipeline-2.txt",
    "postfixFormat": "Y-m-d",
    "enable": true
  }
]